    <!-- Head -->
{% include "receitas/partials/head.html" %}

<body>
    <!-- Header -->
    {% include "receitas/partials/header.html" %}

    <!-- Search -->
    {% include "receitas/partials/search.html" %}

    <main class="main-content-container">
        <div class="main-content main-content-detail container">

            <!-- Recipe -->
            {% include "receitas/partials/recipe.html" %}

        </div>
    </main>
    
    <!-- Footer -->
    {% include "receitas/partials/footer.html" %}

</body>