{% load static %}

<!-- Link font-awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.min.css" integrity="sha512-QeR2VH+lsBE5LSAe1Q5EnTBbe7XTBubt8dG93Y7gidSgdMCr8nVqKcfKAMyN96SV8KDbZVTDXChatu5G2KQGzg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- Link css head -->
<link rel="stylesheet" href="{% static 'receitas/css/styles.css' %}">
<link rel="stylesheet" href="{% static 'global/css/global-style.css' %}">

<!-- Link fontes -->
<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Rye&display=swap" rel="stylesheet">
    