<div class="recipe recipe-list-item">

    {% if receita.capa %}
        <a href="{% url "receitas-receita" receita.id %}">
            <div class="recipe-cover">
                <img src="{{ receita.capa.url }}" alt="{{ receita.titulo }}">
            </div>
        </a>
    {% endif %}

    <div class="recipe-title-container">
        <a href="{% url "receitas-receita" receita.id %}">
            <h2 class="recipe-title">{{ receita.titulo }}</h2>
        </a>
    </div>

    <div class="recipe-author">
        <span class="recipe-author-item">
            <i class="fas fa-user"></i>
            {{ receita.autor.first_name }} {{ receita.autor.last_name }}
        </span>

        <span class="recipe-author-item">
            <i class="fas fa-calendar-alt"></i>
            {{ receita.criado_em|date:"d/m/Y" }}
        </span>

        <span class="recipe-author-item">
            <i class="fas fa-mug-hot"></i>
            <a href="{% url 'categoria' receita.categoria.id %}">
                {{ receita.categoria }}
            </a>
        </span>
    </div>

    <div class="recipe-content">
        <p>{{ receita.descricao }}</p>
    </div>

    <div class="recipe-meta-container">
        <div class="recipe-meta recipe-preparation">
            <h3 class="recipe-meta-title">
                <i class="fa-solid fa-temperature-half"></i>
                Tempo de preparo
            </h3>
            <div class="recipe-meta-text">
                {{ receita.tempo_preparo }} {{ receita.tempo_preparo_unidade }}
            </div>
        </div>
        <div class="recipe-meta recipe-servings">
            <h3 class="recipe-meta-title">
                <i class="fa-solid fa-arrows-rotate"></i>
                Quantidade
            </h3>
            <div class="recipe-meta-text">
                {{ receita.rende_quantidade }} {{ receita.rende_unidade }}
            </div>
        </div>
    </div>

    {% if is_detail_page is not True %}
        <footer class="recipe-footer">
            <a href="{% url "receitas-receita" receita.id %}" class="recipe-read-more button button-dark button-full-width">
                <i class="fas fa-eye"></i>
                <span>Ver mais...</span>
            </a>
        </footer>
    {% endif %}

    {% if is_detail_page is True %}
        <div class="preparation-steps">
            {{ receita.modo_preparo|linebreaksbr }}
        </div>
    {% endif %}

</div>